/* button */
.btn_default {
  background: transparent;
  border: 1px solid #596c73;
  color: #596c73;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
}
.btn_default ~ .btn_default {
  margin-left: 15px;
}
.btn_default.active,
.btn_default:hover {
  border: 1px solid #f9876f;
  background: #f9876f;
  color: #fff;
}

#main_01 img {
  width: 100%;
  height: 100%;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flex_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: minmax(100, auto);
  grid-gap: 10px;
}
.grid_item {
  position: relative;
}
#home .grid_container {
  grid-template-areas:
    "a a a b b"
    "a a a c d";
}
#main_sl_img0 {
  grid-area: a;
}
#main_sl_img1 {
  grid-area: b;
}

#main_sl_img3 {
  grid-area: c;
}

#main_sl_img4 {
  grid-area: d;
}

/* slide */
.slick-track {
  display: flex;
  align-items: stretch;
}
.slick-slide div,
.slick-slide img {
  width: auto;
  height: 100%;
}
