/* color */

:root {
  --dark01: #000;
  --dark02: #333;
  --dark03: #777;
  --dark04: #dfdfdf;
  --dark05: #212b3a;
  --coolgray01: #6b7583;
  --coolgray02: #b7bfc7;
  --coolgray03: #dee5ec;
  --coolgray04: #f5f6f8;
  --maincolor: #ff5863;
  --fontgray: #65717f;
}
