.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.section {
  padding: 85px 200px 160px;
  width: 100%;
}
.section:nth-child(2n) {
  background: #f6f6f6;
}
.title {
  color: #444;
  font-size: 44px;
  font-weight: 600;
  padding-bottom: 35px;
}
.mainText {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  color: #fff;
  z-index: 5;
  font-size: 24px;
  font-weight: 600;
}

/* .styles.slider {
  overflow: visible !important;
} */
